@import "@/styles/vars.scss";
@import "@/styles/mixins.scss";

.button {
  @include btn-reset;
  padding: $font-md 2rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.1rem;
  color: $white-color;
  background-color: $purple-color;
  border-radius: $border-radius-md;
  box-shadow: 0px 10px 10px -4px rgba($purple-color, 0.15);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  outline: none;

  @include hover {
    &:hover {
      background-color: darken($purple-color, 3);
      box-shadow: 0px 15px 10px -4px rgba($purple-color, 0.3);
    }
  }

  &:focus-visible {
    background-color: darken($purple-color, 3);
    box-shadow: 0px 15px 10px -4px rgba($purple-color, 0.3);
  }

  &:active {
    box-shadow: inset 0px 4px 6px rgba($black-color, 0.15);
  }

  &.teal {
    background-color: $teal-color;
    box-shadow: 0px 10px 10px -4px rgba($teal-color, 0.15);

    @include hover {
      &:hover {
        background-color: darken($teal-color, 3);
        box-shadow: 0px 15px 10px -4px rgba($teal-color, 0.3);
      }
    }

    &:focus-visible {
      background-color: darken($teal-color, 3);
      box-shadow: 0px 15px 10px -4px rgba($teal-color, 0.3);
    }

    &:active {
      box-shadow: inset 0px 4px 6px rgba($black-color, 0.15);
    }

    &:disabled {
      background-color: rgba($teal-color, 0.75);
      &:hover,
      &:focus,
      &:active {
        background-color: rgba($teal-color, 0.75);
        box-shadow: 0px 10px 10px -4px rgba($purple-color, 0.15);
      }
    }
  }

  &.transparent {
    min-width: 10rem;
    padding: 0;
    font-weight: 400;
    font-size: $font-sm;
    line-height: 1.4;
    color: $purple-color;
    text-align: left;
    background-color: transparent;
    box-shadow: none;

    @include hover {
      &:hover {
        color: darken($purple-color, 10);
      }
    }
  }

  &.transparent-teal {
    min-width: 10rem;
    padding: 0;
    font-weight: 400;
    font-size: $font-sm;
    line-height: 1.4;
    color: $teal-color;
    text-align: left;
    background-color: transparent;
    box-shadow: none;

    @include hover {
      &:hover {
        color: darken($teal-color, 10);
      }
    }

    &:disabled {
      background-color: $teal-color;
    }
  }

  &.secondary {
    padding: calc((11 / 16) * 1rem) calc((19 / 16) * 1rem);
    font-size: $font-sm;
    color: #1d1d1b;
    background-color: $white-color;
    border-radius: 0.5rem;
    box-shadow: none;

    @include hover {
      &:hover {
        background-color: $white-color;
        color: $purple-color;
        box-shadow: 0px 11px 8px -6px rgba($black-color, 0.25);
      }
    }

    &:focus-visible {
      background-color: $white-color;
      color: $purple-color;
      box-shadow: 0px 11px 8px -6px rgba($black-color, 0.25);
    }

    &:active {
      box-shadow: inset 0px 4px 6px rgba($black-color, 0.15);
    }

    &.teal {
      @include hover {
        &:hover {
          color: $teal-color;
        }
      }

      &:focus-visible {
        color: $teal-color;
      }

      &:active {
        box-shadow: inset 0px 4px 6px rgba($black-color, 0.15);
      }
    }
  }
}
