@import "@/styles/vars.scss";
@import "@/styles/mixins.scss";

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  padding: 50px 0;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  z-index: 2;

  &.fixed {
    position: fixed;
    padding: 0;
    background-color: $white-color;
    z-index: 10;

    .navItem {
      button {
        font-size: $font-sm;
        padding: calc((11 / 16) * 1rem) calc((19 / 16) * 1rem);
      }
    }

    .linksGroup {
      margin-left: 5rem;
      gap: 1rem;
    }
  }
}

.container {
  @include container;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  flex-grow: 1;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: space-between;
}

.linksGroup {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 1rem;
}

.navList {
  @include list-reset;
  display: flex;
  align-items: center;
  gap: 1rem;

  &.buttons {
    gap: 2rem;
  }
}

.btnGroup {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@include tablet {
  .header {
    padding: 35px 0;
  }

  .navigation {
    gap: initial;
  }

  .linksGroup,
  .navList {
    gap: 0.5rem;
  }

  .navList {
    align-items: flex-start;

    &.buttons {
      gap: 1rem;
    }
  }
}

@include for-big-desktop {
  .header {
    &:not(.fixed) {
      .navList {
        gap: 2rem;

        &:nth-child(2) {
          color: $white-color;

          a {
            color: currentColor;

            &:hover,
            &:focus {
              color: $white-color;

              &:after {
                background-color: $white-color;
              }
            }
          }
        }
      }
    }
  }

  .container {
    gap: 10rem;
  }

  .navigation {
    width: auto;
    gap: 7.3125rem;
  }

  .linksGroup {
    gap: 7.3125rem;
  }
}

@include tablet {
  .header {
    &.fixed {
      .linksGroup {
        margin-left: 2.5rem;
      }

      padding: 10px 0;
    }
  }
}

@include small-tablet {
  .header {
    padding: 10px 0;
    &.fixed {
      padding: 0;
    }
  }

  .navigation {
    flex-grow: 0;
    width: auto;
  }

  .linksGroup {
    display: none;
  }
}
