@import "@/styles/vars.scss";

.subtitle {
  margin: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.3;
  color: $purple-color;

  &.xl {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.1;
  }
}
