@import "@/styles/mixins.scss";

.btnGroup {
  display: flex;
  gap: 1rem;
}

.loginMobile {
  display: none;

  button {
    padding: 0 !important;
  }
}

@include tablet {
  .btnGroup {
    flex-direction: column;
  }
}

@include small-tablet {
  .btnGroup {
    display: none;
  }

  .loginMobile {
    display: block;
  }
}
