@import "@/styles/vars.scss";
@import "@/styles/mixins.scss";

.advertiser {
  padding: 120px 0;
  background: url("/images/decorations/features-bubbles.png"), #e1def4;
  background-position: center center;
}

.container {
  @include container;
}

.heading {
  margin-bottom: 4rem;

  & > * :first-child {
    margin-bottom: 0.5rem;
  }
}

.columns {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3.2rem;
}

.title {
  margin: 0 0 2rem 0;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.2;
  color: $dark-grey-color;
}

.tematicList {
  @include list-reset;
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 2.5rem;
  row-gap: 1rem;
}

.tematicItem {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-weight: 500;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.tematicLabel {
  font-weight: 600;
  font-size: $font-md;
  line-height: 1.4;
  color: $dark-grey-color;
}

.double {
  flex: 1 0 auto;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.numsList {
  @include list-reset;
}

.numsListItem {
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.num {
  margin-bottom: 1rem;
  font-weight: 800;
  font-size: 4.5rem;
  text-shadow: -1px 0px 0px $purple-color, 1px 0px 0px $purple-color,
    0px -1px 0px $purple-color, 0px 1px 0px $purple-color;
  color: #e1def4;

  @supports (-webkit-text-stroke: 1px $purple-color) {
    & {
      text-shadow: none;
      -webkit-text-stroke: 1px $purple-color;
      -webkit-text-fill-color: #e1def4;
    }
  }
}

.mills {
  text-transform: uppercase;
  color: $purple-color;
}

.numsLabel {
  margin: 0;
  font-weight: 600;
  line-height: 1.2;
  color: $dark-grey-color;
  white-space: nowrap;
}

.listCards {
  @include list-reset;
  flex: 1 0 460px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.bottom {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

@include for-big-desktop {
  .tematicList {
    display: flex;
    flex-direction: column;
    column-gap: 0;
    row-gap: 0;
  }

  .columns {
    flex-direction: row;
    gap: 110px;
  }

  .only {
    max-width: 290px;
  }
}

@include tablet {
  .double {
    width: 100%;
  }

  .listCards {
    flex: 0 0 auto;
  }
}

@include small-tablet {
  .columns {
    gap: 3.5rem;
  }
  .double {
    flex-direction: column;
    gap: 3.5rem;
  }
  .tematicList {
    grid-template-columns: repeat(2, auto);
  }
}

@include mobile {
  .double {
    align-items: stretch;
  }

  .tematicList {
    grid-template-columns: repeat(1, auto);
  }

  .numsList {
    li {
      text-align: center;
    }
  }

  .numsLabel {
    white-space: normal;
  }

  .bottom {
    flex-direction: column;

    button {
      width: 100%;
      text-align: center !important;

      br {
        display: none;
      }
    }
  }
}
