@import "@/styles/vars.scss";
@import "@/styles/mixins.scss";

.advertiser {
  padding: 120px 0;
  background: url("/images/decorations/features-bubbles.png"), #e1def4;
  background-position: center center;
}

.container {
  @include container;
}

.heading {
  margin-bottom: 4rem;

  & > * :first-child {
    margin-bottom: 0.5rem;
  }
}

.columns {
  display: flex;
  align-items: flex-start;
  gap: 110px;
  margin-bottom: 3.2rem;
}

.only {
  max-width: 290px;
}

.title {
  margin: 0 0 2rem 0;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.2;
  color: $dark-grey-color;
}

.tematicList {
  @include list-reset;
}

.tematicItem {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-weight: 500;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.tematicLabel {
  font-weight: 600;
  font-size: $font-md;
  line-height: 1.4;
  color: $dark-grey-color;
}

.double {
  flex: 1 0 auto;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.numsList {
  @include list-reset;
}

.numsListItem {
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.num {
  margin-bottom: 1rem;
  font-weight: 800;
  font-size: 4.5rem;
  text-shadow: -1px 0px 0px $purple-color, 1px 0px 0px $purple-color,
    0px -1px 0px $purple-color, 0px 1px 0px $purple-color;
  color: #e1def4;

  @supports (-webkit-text-stroke: 1px $purple-color) {
    & {
      text-shadow: none;
      -webkit-text-stroke: 1px $purple-color;
      -webkit-text-fill-color: #e1def4;
    }
  }
}

.mills {
  text-transform: uppercase;
  color: $purple-color;
}

.numsLabel {
  margin: 0;
  font-weight: 600;
  line-height: 1.2;
  color: $dark-grey-color;
}

.listCards {
  @include list-reset;
  flex: 1 0 460px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.bottom {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
