@import "@/styles/vars.scss";
@import "@/styles/mixins.scss";

.offer {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("/images/decorations/offer-background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    z-index: -1;
  }

  h2 {
    margin-bottom: 3rem;
  }
}

.container {
  @include container-right;
  display: flex;
  justify-content: flex-end;
}

.image {
  height: 100%;
  margin: 2.125rem 0;
  object-fit: cover;
}

.list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.item {
  margin-right: 245px;
  position: relative;
  min-width: 539px;
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: space-between;
  padding: 25px 40px;
  background-color: $white-color;
  border-radius: $border-radius-lg;

  &::before {
    content: "\2726";
    position: absolute;
    display: inline;
    top: 26px;
    left: 0;
    margin: 0;
    padding: 0;
    font-size: 3.75rem;
    line-height: 1;
    background: linear-gradient(155.78deg, #9571cb 19.32%, #6237c0 80.69%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateX(-50%);
  }
}

.itemTitle {
  margin: 0 0 0.5rem 0;
  font-weight: 600;
  font-size: 1.5rem;
  color: $purple-color;
}

.itemSubtitle {
  margin: 0;
  font-size: 1rem;
  line-height: 1.4;
  color: #4a4a49;
}

.icon {
  height: 81px;
}

@include tablet {
  .container {
    flex-direction: column-reverse;
    padding-left: 30px;
  }

  .item {
    min-width: initial;
  }
}

@include small-tablet {
  .container {
    padding-left: 15px;
  }

  .item {
    margin-right: 0;
    // transform: translate(0, 0) !important;

    &::before {
      top: auto;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);
      font-size: 1.75rem;
    }
  }
}

@include mobile {
  .offer {
    h2 {
      text-align: center;
      margin-bottom: 4rem;
    }
  }

  .item {
    flex-direction: column-reverse;
    gap: 1.5rem;
    padding: 25px 30px 30px 30px;
  }

  .itemTitle {
    font-size: 1.25rem;
  }

  .itemInfo {
    text-align: center;
  }
}
