@import "@/styles/vars.scss";
@import "@/styles/mixins.scss";

.accordion {
  @include list-reset;
}

.button {
  @include btn-reset;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  color: $dark-grey-color;
  border-top: 1px solid rgba($light-grey-color, 0.2);
  outline: none;
  transition: color 0.15s ease-in-out, border-top 0.15s ease-in-out;

  @include hover {
    &:hover {
      color: $purple-color;
      border-top: 1px solid rgba($light-grey-color, 0.4);

      .iconWrapper {
        background-color: rgba($purple-color, 0.15);
      }
    }
  }

  &:focus-visible {
    color: $purple-color;
    border-top: 1px solid rgba($light-grey-color, 0.4);

    .iconWrapper {
      background-color: rgba($purple-color, 0.15);
    }
  }
}

.title {
  margin: 0;
  font-weight: 600;
  font-size: $font-md;
  line-height: 1.2;
  color: currentColor;
}

.iconWrapper {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.15s ease-in-out;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: currentColor;
}

.textWrapper {
  width: 100%;
}

.text {
  margin: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
}

.textInner {
  padding: 1rem 0;
}
