// base
$content-width: 1230px;
$container-offset: 15px;
$container-width: calc($content-width + ($container-offset * 2));

$font-md: calc((18 / 16) * 1rem);
$font-sm: calc((14 / 16) * 1rem);

$border-radius-sm: calc((10 / 16) * 1rem);
$border-radius-md: calc((14 / 16) * 1rem);
$border-radius-lg: 1rem;

// colors
$black-color: #000000;
$white-color: #ffffff;
$teal-color: #3ac2ba;
$light-teal-color: #dcebf0;
$keppel-color: #31a59e;
$grey-color: #4a4a49;
$dark-grey-color: #1d1d1b;
$light-grey-color: #a5a5a4;
$smoke-color: #e9e9e9;
$light-smoke-color: #eef0f6;
$purple-color: #713ee6;
$red-color: #df1609;
