@import "@/styles/vars.scss";
@import "@/styles/mixins.scss";

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: -0.5rem;
  padding: 0.25rem 0.5rem;
  outline-color: $purple-color;
}

@include small-tablet {
  .logo {
    margin-left: 0;
    padding: 0;
  }

  .text {
    display: none;
  }
}
